# ML Biginner Project

In [9]:
import pandas as pd
df = pd.read_csv("data.csv")
df.shape #get deimentsion of data frame

(198, 60)

In [11]:
df.describe()

,No,R_SHTCNT,R_SHTCYCTM,R_SHTDRYTM,R_SHTPHTIM,R_SHTSTSPT,R_SHTPRSPT,R_SHTCSNVOL,R_SHTMAXPRS,R_SHTKPPRS,...,R_SHTHTR29TMP,R_SHTHTR30TMP,R_SHTHTR31TMP,R_SHTHTR32TMP,R_SHTHTR33TMP,R_SHTROLCNT,R_SHTROLMAX,R_SHTCOLTM,R_SHTKPTM,R_SHTFINPT
count,198.000000,198.000000,198.000000,198.000000,198.000000,198.0,198.000000,198.000000,198.000000,198.000000,...,198.000000,198.000000,198.000000,198.000000,198.000000,0.0,0.0,0.0,0.0,0.0
mean,99.500000,82.742424,36.083838,7.722020,3.421566,187.0,30.961616,13.352020,108.717172,77.404545,...,230.679293,230.022222,230.771212,230.011111,220.577778,NaN,NaN,NaN,NaN,NaN
std,57.301832,54.556814,3.400140,0.627836,0.009016,0.0,0.048755,0.756609,1.249694,1.014479,...,0.676454,0.110427,1.175524,0.174163,0.989083,NaN,NaN,NaN,NaN,NaN
min,1.000000,1.000000,35.090000,5.760000,3.390000,187.0,30.900000,6.300000,103.300000,71.900000,...,226.900000,229.400000,225.600000,228.600000,217.300000,NaN,NaN,NaN,NaN,NaN
25%,50.250000,30.250000,35.170000,7.392500,3.420000,187.0,30.900000,13.200000,108.300000,77.100000,...,230.500000,230.000000,230.100000,229.900000,220.100000,NaN,NaN,NaN,NaN,NaN
50%,99.500000,79.500000,35.210000,7.940000,3.420000,187.0,31.000000,13.400000,108.700000,77.300000,...,230.800000,230.000000,230.800000,230.000000,220.200000,NaN,NaN,NaN,NaN,NaN
75%,148.750000,130.750000,35.632500,8.177500,3.430000,187.0,31.000000,13.700000,109.375000,77.800000,...,231.000000,230.100000,231.600000,230.100000,220.475000,NaN,NaN,NaN,NaN,NaN
max,198.000000,180.000000,69.750000,10.330000,3.440000,187.0,31.000000,14.600000,111.200000,79.600000,...,232.800000,230.400000,233.200000,230.400000,223.400000,NaN,NaN,NaN,NaN,NaN

In [12]:
df.values

array([[1, 'Good', '1/16/2017 8:48', ..., nan, nan, nan],
       [2, 'Good', '1/16/2017 8:49', ..., nan, nan, nan],
       [3, 'Good', '1/16/2017 8:49', ..., nan, nan, nan],
       ...,
       [196, 'Good', '1/16/2017 21:34', ..., nan, nan, nan],
       [197, 'Good', '1/16/2017 21:34', ..., nan, nan, nan],
       [198, 'Good', '1/16/2017 21:35', ..., nan, nan, nan]], dtype=object)